*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width:700px) {
  
  body{
    background-color: black;
}
.contenedorDeNetflix{
  overflow: hidden;
  width: 100%;
  padding-bottom: 10%;
}
.burger{
  display: none;
}
.netflix{
  font-weight: 900;
  font-size: 185%;
  color: red;
}
.barraTarea{
  justify-content: space-between;
  display: flex;
  background-color: black;
}
.lupa img{
  width: 40px;
}
.notificaciones{
  width: 40px;
}
.regalo{
 width: 40px;
}
.busqueda{
  display: flex;
  gap: 25%;
  align-items: center;
}
.barraRelleno p{
  color: white;
}
.barraRelleno{
  gap: 5%;
  align-items: center;
  height: 70px;
}
.principal{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carruselPrincipal{
  width: 100%;
  height: auto;
  margin: 0px auto 0;
  overflow: hidden;

}
.carruselPrincipal img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carruselPrincipal ul{
  display: flex;
  padding: 0;
  width: 600%;
  animation: slide 40s infinite alternate ease-in-out;
}
.carruselPrincipal ul li{
  width: 100%;
  list-style: none;
  object-fit: cover;
  box-sizing: border-box;
}
/* carrusel automatico principal */
@keyframes slide {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  85%{margin-left: -300%;}

  90%{margin-left: -400%;}
  100%{margin-left: -400%;}
}


.desbanesido{
 background: linear-gradient(rgba(0, 0, 0, 0), rgba(8, 0, 0, 0.8));
  width: 100%;
  height: 40%;
  margin-top: 40%;
  position: absolute;


}
section{
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 2%;
  align-items: center;
  gap: 10px;
  position: absolute;
  margin-top: -5%;
}

section .splide__track .splide__list li img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  width: 200px;
  height: 100%;

}
section .splide__track .splide__list li img:hover{
  width: 220px;
  height: 260px;
  transition: 2s;
  opacity: 1 ;
  filter: contrast(120%);
}
.popular{
  left: 1.3%;
  top: 118%;
  padding-bottom: 3%;
position: absolute;
}



 .segundoCarrusel{
  display: flex;
  gap:10px;
}
.segundoCarrusel{
  width: 100%;
  height: auto;
  margin: 0px auto 0;
  overflow: hidden;

}

.segunndoMando{
  display: flex;
  width: 100%;
  height: 200px;
  padding-top: 2%;
  align-items: center;
  gap: 10px;
  position: absolute;
 
}

.nuevoCarrusel{
  position: absolute;
}
.nuevoCarrusel .slaider{
  display: flex;
  background-color: red;
  padding: 2px;
  width: 300%;
  height: 150px;
  overflow: hidden;
}
.nuevoCarrusel .slaider img{
  margin: 3px;
} 


/* carrusel slick1 */
.slick-list1 img{
  position: relative;
  width: 170px;
  object-fit: cover;
  height: 250px;
  overflow: hidden;
}
.slick-list1{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slick-track1{
  gap: 0px;
  width: 200%;
  position: relative;
  display: flex;
  left: 1%;
  height: 200px;
  align-items: center;
  gap: 15px;

}
.slick-arrow1{
  width: 1%;
  color: red;
}
.slick-prev1{
  z-index: 4;
  top: 39%;
  position: absolute;
}
.slick-next1{
  z-index: 4;
  right: 1%;
  bottom: 35%;
  position: absolute;
}
.accion{
  margin-left: 1%;
  color: white;
  margin-top: 5%;
  margin-bottom: 1%;
}
.informacion{
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}
.informacion .cajaIn ul li {
  display: flex;
  gap: 5%;
  list-style: none;
}

  }

  @media (max-width:700px) {
    body{
      background-color: black;
  }
  .contenedorDeNetflix{
    overflow: hidden;
    width: 100%;
    padding-bottom: 10%;
  }
  .netflix{
    font-weight: 900;
    font-size: 185%;
    color: red;
  }
  .notificaciones{
    display: none;
  }
  .regalo{
   display: none;
  }
 .burger{
  font-size: 282%;
 }
  .barraTarea{
    justify-content: space-between;
    display: flex;
    background-color: black;
  }
  .lupa img{
    width: 50px;
    margin-right: 5%;
  }
  .lupa{
    margin-left: 15px;
  }
  .busqueda{
    display: flex;
    gap: 25%;
    align-items: center;
  }
  .barraRelleno p{
    display: none;
  }
  .barraRelleno{
    gap: 5%;
    align-items: center;
    height: 70px;
  }
  .principal{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carruselPrincipal{
    width: 100%;
    height: 300px;
    margin: 0px auto 0;
    overflow: hidden;
  
  }
  .carruselPrincipal img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .carruselPrincipal ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 40s infinite alternate ease-in-out;
  }
  .carruselPrincipal ul li{
    width: 100%;
    list-style: none;
    object-fit: cover;
    box-sizing: border-box;
  }
  /* carrusel automatico principal */
  @keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
  
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
  
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
  
    75%{margin-left: -300%;}
    85%{margin-left: -300%;}
  
    90%{margin-left: -400%;}
    100%{margin-left: -400%;}
  }
  
  
  .desbanesido{
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(8, 0, 0, 0.8));
    width: 100%;
    height: 27%;
    margin-top: 5%;
    position: absolute;
  
  
  }
  section{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: absolute;
    margin-top: -37%;
  }
  
  section .splide__track .splide__list li img{
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    width: 295px;
    height: 100px;
  
  }
  section .splide__track{
    height: 100px;
  }
  section .splide__track .splide__list{
    height: 200px;
    width: 100%;
  }
  .popular{
    left: 1.3%;
    top: 27%;
    padding-bottom: 3%;
  position: absolute;
  }
  
  
  
   .segundoCarrusel{
    display: flex;
    gap:10px;
  }
  .segundoCarrusel{
    width: 100%;
    height: auto;
    margin: 0px auto 0;
    overflow: hidden;
  
  }
  
  .segunndoMando{
    display: flex;
    width: 100%;
    height: 200px;
    padding-top: 2%;
    align-items: center;
    gap: 10px;
    position: absolute;
   
  }
  
  .nuevoCarrusel{
    position: absolute;
  }
  .nuevoCarrusel .slaider{
    display: flex;
    background-color: red;
    padding: 2px;
    width: 300%;
    height: 150px;
    overflow: hidden;
  }
  .nuevoCarrusel .slaider img{
    margin: 3px;
  } 
  
  
  /* carrusel slick1 */
  .slick-list1 img{
    position: relative;
    width: 170px;
    object-fit: cover;
    height: 100px;
    transition: .5s ease-in-out;
    overflow: hidden;
  }
  .slick-list1{
    position: relative;
    width: 100%;
    transition: .5s ease-in-out;
    overflow: hidden;
  }
  .slick-track1{
    width: 297%;
    position: relative;
    display: flex;
    left: 1%;
    height: 100px;
    align-items: center;
    gap: 15px;
    transition: .5s ease-in-out;
  
  }
  .slick-arrow1{
    color: black;
    background-color: white;
    border-radius: 30px;
    width: 26px;
    padding: 7px;
  }
  .slick-prev1{
    z-index: 4;
    top: 39%;
    position: absolute;
  }
  .slick-next1{
    z-index: 4;
    right: 1%;
    bottom: 35%;
    position: absolute;
  }
  .accion{
    margin-left: 1%;
    color: white;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .informacion{
    display: flex;
    justify-content: space-around;
    margin-top: 11%;
    margin: 9%;
  }
  .informacion .cajaIn ul li {
    display: flex;
    gap: 5%;
    list-style: none;
    font-size: 52%;
  }
  .informacion .cajaPequeña{
    display: none;
  }
  }